.app {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px 0;
}

.container {
  width: 95%;
  max-width: 800px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 1px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px;
}

.title {
  width: 100%;
  border-radius: 20px 20px 0 0;
  font-size: 24px;
  text-align: center;
  color: rgb(0, 99, 0);
  line-height: 28px;
  text-transform: uppercase;
  padding: 20px;
  background: linear-gradient(rgb(226, 226, 226), rgb(255, 255, 255));
}

.form {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.destination {
  width: 100%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.result {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.cities {
  text-align: center;
  font-weight: bold;
}

.symbol {
  font-size: 20px;
}

.size {
  text-align: center;
  font-weight: normal;
  opacity: 0.6;
}
